body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    padding: 1%; 
    text-align: center;
    border-bottom: 1px solid #ccc;
}

button {
    display: inline-block;
    background-color: #001861;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-family: Arial, sans-serif;
}

header .logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    gap: 5%;  
    justify-items: center;
}

header .logos img {
    max-width: 100px;
    max-height: 100px;
}

header .logos .ifi-logo {
    max-width: 200px; 
    max-height: 120px;
}

header .logos .uio-logo {
    max-width: 400px; 
    max-height: 300px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;  
    padding-top: 3%;
    padding-bottom: 3%;

    text-align: left;
    font-family: Arial, sans-serif;
}

.intro .picture, .intro .textbox {
    margin: 2%;  
    width: 48%;  
    max-width: 600px;  
}

.intro .picture img {
    width: 100%; 
    height: auto;
    border-radius: 60px;
}

.cv-button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #001861;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
}

.project-button {
    padding: 10px; 
    max-width: 300px;  
    background-color: #001861;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-size: small;
    display: block;
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto; 
    font-family: Arial, sans-serif;
}

.intro .cv-button:hover {
    background-color: #128cbc;
}

.project-button:hover {
    background-color: #128cbc; 
}

.portfolio {
    padding: 0; 
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 0; 
    font-size: 2em; 
    margin-top: 4%;
    margin-right: 70%;
   

}

.portfolio h2 {
    font-weight: normal; 
}




.projects {
    padding: 1%;  
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 0; 
}

.projects .project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%; 
    text-align: center; 
}

.projects .project .project-picture, .projects .project .project-textbox {
    margin: 2%;  
    width: 48%;  
    max-width: 600px;  
    text-align: center;
}




.projects2 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 1%; 
    margin-left: 4%;
    margin-bottom: 0%;
}

.projects2 .project2 {
    display: flex;
    justify-content: center;
    margin: 0px;

}

.projects2 .project2 .project-textbox2 {
    width: 48%;  
    max-width: 600px;  
    text-align: left;
    font-size: 3em;
    padding-right: 3%;
    font-weight: normal;
}




.projects .project .project-picture img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.projects .project h3 {
    font-size: 2em; 
    font-weight: normal; 
}

footer {
    padding: 2%; 
    text-align: center;
    border-top: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

footer p {
    margin: 5px 0; 
}

footer a {
    color: #000408;
    text-decoration: none;
}


p {
    line-height: 1.8; 
    font-family: Arial, sans-serif;
}